BODY {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 1ex;
}

TABLE {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0;
  color: inherit;
}

TD {
  margin: 0;
  padding: 0;
}

DIV {  border-width: 0; }
DT { margin-top: 1em; }

TH {
  background: #bbbbbb;
  color: inherit;
  padding: 0.4ex 1ex;
  text-align: left;
}

TH A:link, TH A:visited {
  background: transparent;
  color: black;
}

PRE     {
  background: #ddddff;
  border: 1px solid #666666;
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  white-space: pre;
  margin: 10px 30px;
}

H1      {
  background: transparent;
  color: #006699;
  font-size: 20px;
  margin-top: 20px;
}

H2      {
  background: transparent;
  color: #006699;
  font-size: 14px;
  margin-top: 20px;
}

H3 {
  background: transparent;
  color: #006699;
  font-size: 12px;
  text-decoration: underline;
}

LI {
  line-height: 1.2em;
  list-style-type: square;
}

a {
  color: #6666ff;
  text-decoration:none;    
}

a.hover {
  color: #ff3333;
}

p {
  margin: 0px 20px;
}
